<h2>
    The index works.
</h2>
  
  <form action="" method="post">
  <!-- cap-shape -->
  <input list="cap-shape" name="cap-shape" placeholder="cap-shape">
  <datalist id="cap-shape">
      <option value="x">Convex</option>
      <option value="f">Flat</option>
      <option value="k">Knobbed</option>
      <option value="b">Bell</option>
      <option value="s">Sunken</option>
      <option value="c">Conical</option>
  </datalist>
  <input list="cap-surface" name="cap-surface" placeholder="cap-surface">
  <datalist id="cap-surface">
      <option value="y">Scaly</option>
      <option value="f">Fibrous</option>
      <option value="s">Smooth</option>
      <option value="g">Grooves</option>
  </datalist>
  <input list="cap-color" name="cap-color" placeholder="cap-color">
  <datalist id="cap-color">
      <option value="n">Brown</option>
      <option value="w">White</option>
      <option value="e">Red</option>
      <option value="y">Yellow</option>
      <option value="b">Buff (Light Yellowish Brown)</option>
      <option value="w">White</option>
      <option value="p">Pink</option>
      <option value="c">Cinnamon (Brownish Orange)</option>
      <option value="u">Purple</option>
      <option value="r">Green</option>
  </datalist>
  <input list="bruises" name="bruises" placeholder="bruises">
  <datalist id="bruises">
      <option value="t">True</option>
      <option value="f">False</option>
  </datalist>
  <input list="odor" name="odor" placeholder="odor" style="margin-top: 5px">
  <datalist id="odor">
      <option value="n">None</option>
      <option value="f">Foul</option>
      <option value="y">Fishy</option>
      <option value="s">Spicy</option>
      <option value="a">Almond</option>
      <option value="l">Anise (Black Licorice/Fennel)</option>
      <option value="p">Pungent</option>
      <option value="c">Creosote (Fireplace)</option>
      <option value="m">Musty (Moldy)</option>
  </datalist>
  <input list="gill-attachment" name="gill-attachment" placeholder="gill-attachment" style="margin-top: 5px">
  <datalist id="gill-attachment">
      <option value="a">Attached</option>
      <option value="f">Free</option>
</datalist>
  <input list="gill-spacing" name="gill-spacing" placeholder="gill-spacing" style="margin-top: 5px">
  <datalist id="gill-spacing">
      <option value="c">Close</option>
      <option value="w">Crowded</option>
  </datalist>
  <input list="gill-size" name="gill-size" placeholder="gill-size" style="margin-top: 5px">
  <datalist id="gill-size">
      <option value="b">Broad</option>
      <option value="n">Narrow</option>
  </datalist>
  <input list="gill-color" name="gill-color" placeholder="gill-color" style="margin-top: 5px">
  <datalist id="gill-color">
      <option value="b">Buff (Light Brownish Yellow)</option>
      <option value="p">Pink</option>
      <option value="w">White</option>
      <option value="n">Brown</option>
      <option value="g">Grey</option>
      <option value="h">Chocolate</option>
      <option value="u">Purple</option>
      <option value="k">Black</option>
      <option value="e">Red</option>
      <option value="y">Yellow</option>
      <option value="o">Orange</option>
      <option value="r">Green</option>
  </datalist>
  <input list="stalk-shape" name="stalk-shape" placeholder="stalk-shape" style="margin-top: 5px">
  <datalist id="stalk-shape">
      <option value="e">Enlarging</option>
      <option value="t">Tapering</option>
  </datalist>
  <input list="stalk-surface-above-ring" name="stalk-surface-above-" placeholder="stalk-surface-above-ring" style="margin-top: 5px">
  <datalist id="stalk-surface-above-ring">
      <option value="s">Smooth</option>
      <option value="f">Fibrous</option>
      <option value="k">Silky</option>
      <option value="y">Scaly</option>
      </datalist>
  <input list="stalk-surface-below-ring" name="stalk-surface-below-ring" placeholder="stalk-surface-below-ring" style="margin-top: 5px">
  <datalist id="stalk-surface-below-ring">
      <option value="s">Smooth (No ring = Same as above ring)</option>
      <option value="f">Fibrous</option>
      <option value="k">Silky</option>
      <option value="y">Scaly</option>
  </datalist>
  <input list="stalk-color-above-ring" name="stalk-color-above-ring" placeholder="stalk-color-above-ring" style="margin-top: 5px">
  <datalist id="stalk-color-above-ring">
      <option value="w">White</option>
      <option value="b">Buff</option>
      <option value="p">Pink</option>
      <option value="g">Grey</option>
      <option value="n">Brown</option>
      <option value="o">Orange</option>
      <option value="e">Red</option>
      <option value="c">Cinnamon (Brownish Orange)</option>
      <option value="y">Yellow</option>
  </datalist>
  <input list="stalk-color-below-ring" name="stalk-color-below-ring" placeholder="stalk-color-below-ring" style="margin-top: 5px">
  <datalist id="stalk-color-below-ring">
      <option value="w">White (No ring = Same as above ring)</option>
      <option value="b">Buff</option>
      <option value="p">Pink</option>
      <option value="g">Grey</option>
      <option value="n">Brown</option>
      <option value="o">Orange</option>
      <option value="e">Red</option>
      <option value="c">Cinnamon (Brownish Orange)</option>
      <option value="y">Yellow</option>
  </datalist>
  <input list="veil-color" name="veil-color" placeholder="veil-color" style="margin-top: 5px">
  <datalist id="veil-color">
      <option value="w">White</option>
      <option value="n">Brown</option>
      <option value="o">Orange</option>
      <option value="y">Yellow</option>
</datalist>
  <input list="ring-number" name="ring-number" placeholder="ring-number" style="margin-top: 5px">
  <datalist id="ring-number">
      <option value="o">One</option>
      <option value="t">Two</option>
      <option value="n">None</option>
</datalist>
  <input list="ring-type" name="ring-type" placeholder="ring-type" style="margin-top: 5px">
  <datalist id="ring-type">
      <option value="p">Pendant</option>
      <option value="n">Cobwebby</option>
      <option value="e">Evanescent</option>
      <option value="l">Large</option>
      <option value="f">Flaring</option>
      <option value="s">Sheathing</option>
      <option value="z">Zone</option>
      <option value="n">None</option>
  </datalist>
  <input list="spore-print-color" name="spore-print-color" placeholder="spore-print-color" style="margin-top: 5px">
  <datalist id="spore-print-color">
      <option value="w">White</option>
      <option value="n">Brown</option>
      <option value="k">Black</option>
      <option value="h">Chocolate</option>
      <option value="r">Green</option>
      <option value="u">Purple</option>
      <option value="o">Orange</option>
      <option value="y">Yellow</option>
      <option value="b">Buff (Light Brownish Yelow)</option>
  </datalist>
  <input list="population" name="population" placeholder="population" style="margin-top: 5px">
  <datalist id="population">
      <option value="v">Several</option>
      <option value="y">Solitary</option>
      <option value="s">Scattered</option>
      <option value="n">Numerous</option>
      <option value="a">Abundant</option>
      <option value="c">Clustered</option>
  </datalist>
  <input list="habitat" name="habitat" placeholder="habitat" style="margin-top: 5px">
  <datalist id="habitat">
      <option value="d">Woods</option>
      <option value="g">Grasses</option>
      <option value="p">Paths</option>
      <option value="l">Leaves</option>
      <option value="u">Urban</option>
      <option value="m">Meadows</option>
      <option value="w">Waste</option>
  </datalist>
              
  <div class="justify-content-center">
      <button type="submit" class="btn btn-primary btn-l text-uppercase">Submit</button>
      <br>
      <table class="table table-dark">
          {{df_html | safe}}
      </table>
       <p><h5>Prediction: {{values}}</h5></p>
       
  </div>