<h2>
    The index works.
</h2>
<!-- <input id="type" type="text" list="typelist" placeholder="请选择">
<datalist id="typelist">
　　<option>Dimond</option>
　　<option>vertical</option>
</datalist> -->
  
  <form action="" method="post">
  <!-- cap-shape -->
  <input list="cap-shape" name="cap-shape" placeholder="cap-shape">
  <datalist id="cap-shape">
      <option value="x" selected></option>
      <option value="f"></option>
      <option value="k"></option>
      <option value="b"></option>
      <option value="s"></option>
      <option value="c"></option>
  </datalist>
  <input list="cap-surface" name="cap-surface" placeholder="cap-surface">
  <datalist id="cap-surface">
      <option value="y" selected="selected"></option>
      <option value="f"></option>
      <option value="s"></option>
      <option value="g"></option>
  </datalist>
  <input list="cap-color" name="cap-color" placeholder="cap-color">
  <datalist id="cap-color">
      <option value="n" selected="selected"></option>
      <option value="w"></option>
      <option value="e"></option>
      <option value="y"></option>
      <option value="b"></option>
      <option value="w"></option>
      <option value="p"></option>
      <option value="c"></option>
      <option value="u"></option>
      <option value="r"></option>
  </datalist>
  <input list="bruises" name="bruises" placeholder="bruises">
  <datalist id="bruises">
      <option value="t" selected="selected"></option>
      <option value="f"></option>
  </datalist>
  <input list="odor" name="odor" placeholder="odor" style="margin-top: 5px">
  <datalist id="odor">
      <option value="n" selected="selected"></option>
      <option value="f"></option>
      <option value="y"></option>
      <option value="s"></option>
      <option value="a"></option>
      <option value="l"></option>
      <option value="p"></option>
      <option value="c"></option>
      <option value="m"></option>
  </datalist>
  <input list="gill-attachment" name="gill-attachment" placeholder="gill-attachment" style="margin-top: 5px">
  <datalist id="gill-attachment">
      <option value="a" selected="selected"></option>
      <option value="f"></option>
</datalist>
  <input list="gill-spacing" name="gill-spacing" placeholder="gill-spacing" style="margin-top: 5px">
  <datalist id="gill-spacing">
      <option value="c" selected="selected"></option>
      <option value="w"></option>
  </datalist>
  <input list="gill-size" name="gill-size" placeholder="gill-size" style="margin-top: 5px">
  <datalist id="gill-size">
      <option value="b" selected="selected"></option>
      <option value="n"></option>
  </datalist>
  <input list="gill-color" name="gill-color" placeholder="gill-color" style="margin-top: 5px">
  <datalist id="gill-color">
      <option value="b" selected="selected"></option>
      <option value="p"></option>
      <option value="w"></option>
      <option value="n"></option>
      <option value="g"></option>
      <option value="h"></option>
      <option value="u"></option>
      <option value="k"></option>
      <option value="e"></option>
      <option value="y"></option>
      <option value="o"></option>
      <option value="r"></option>
  </datalist>
  <input list="stalk-shape" name="stalk-shape" placeholder="stalk-shape" style="margin-top: 5px">
  <datalist id="stalk-shape">
      <option value="e" selected="selected"></option>
      <option value="t"></option>
  </datalist>
  <input list="stalk-surface-above-ring" name="stalk-surface-above-" placeholder="stalk-surface-above-ring" style="margin-top: 5px">
  <datalist id="stalk-surface-above-ring">
      <option value="s" selected="selected"></option>
      <option value="f"></option>
      <option value="k"></option>
      <option value="y"></option>
      </datalist>
  <input list="stalk-surface-below-ring" name="stalk-surface-below-ring" placeholder="stalk-surface-below-ring" style="margin-top: 5px">
  <datalist id="stalk-surface-below-ring">
      <option value="s" selected="selected"></option>
      <option value="f"></option>
      <option value="k"></option>
      <option value="y"></option>
  </datalist>
  <input list="stalk-color-above-ring" name="stalk-color-above-ring" placeholder="stalk-color-above-ring" style="margin-top: 5px">
  <datalist id="stalk-color-above-ring">
      <option value="w" selected="selected"></option>
      <option value="b"></option>
      <option value="p"></option>
      <option value="g"></option>
      <option value="n"></option>
      <option value="o"></option>
      <option value="e"></option>
      <option value="c"></option>
      <option value="y"></option>
  </datalist>
  <input list="stalk-color-below-ring" name="stalk-color-below-ring" placeholder="stalk-color-below-ring" style="margin-top: 5px">
  <datalist id="stalk-color-below-ring">
      <option value="w" selected="selected"></option>
      <option value="b"></option>
      <option value="p"></option>
      <option value="g"></option>
      <option value="n"></option>
      <option value="o"></option>
      <option value="e"></option>
      <option value="c"></option>
      <option value="y"></option>
  </datalist>
  <input list="veil-color" name="veil-color" placeholder="veil-color" style="margin-top: 5px">
  <datalist id="veil-color">
      <option value="w" selected="selected"></option>
      <option value="n"></option>
      <option value="o"></option>
      <option value="y"></option>
</datalist>
  <input list="ring-number" name="ring-number" placeholder="ring-number" style="margin-top: 5px">
  <datalist id="ring-number">
      <option value="o" selected="selected"></option>
      <option value="t"></option>
      <option value="n"></option>
</datalist>
  <input list="ring-type" name="ring-type" placeholder="ring-type" style="margin-top: 5px">
  <datalist id="ring-type">
      <option value="p" selected="selected"></option>
      <option value="e"></option>
      <option value="l"></option>
      <option value="f"></option>
      <option value="n"></option>
</datalist>
  <input list="spore-print-color" name="spore-print-color" placeholder="spore-print-color" style="margin-top: 5px">
  <datalist id="spore-print-color">
      <option value="w" selected="selected"></option>
      <option value="n"></option>
      <option value="k"></option>
      <option value="h"></option>
      <option value="r"></option>
      <option value="u"></option>
      <option value="o"></option>
      <option value="y"></option>
      <option value="b"></option>
  </datalist>
  <input list="population" name="population" placeholder="population" style="margin-top: 5px">
  <datalist id="population">
      <option value="v" selected></option>
      <option value="y"></option>
      <option value="s"></option>
      <option value="n"></option>
      <option value="a"></option>
      <option value="c"></option>
  </datalist>
  <input list="habitat" name="habitat" placeholder="habitat" style="margin-top: 5px">
  <datalist id="habitat">
      <option value="d" selected></option>
      <option value="g"></option>
      <option value="p"></option>
      <option value="l"></option>
      <option value="u"></option>
      <option value="m"></option>
      <option value="w"></option>
  </datalist>
              
  <div class="justify-content-center">
      <button type="submit" class="btn btn-primary btn-l text-uppercase">Submit</button>
      <br>
      <table class="table table-dark">
          {{df_html | safe}}
      </table>
       <p><h5>Prediction: {{values}}</h5></p>
       
  </div>